:root{
    --primary-btn-color: rgb(71, 128, 182);
    --primary-btn-border-color: rgb(59, 99, 100);
    
    --primary-btn-hover-color: rgb(22, 86, 204);
    --primary-shadow-inset-btn-hover-color: inset 0px 0px 15px   rgb(30, 33, 190);
    --primary-glow-btn-hover-color: 0px 0px 15px rgb(30, 33, 190);
    --primary-btn-hover-border-color: rgb(30, 33, 190);



    --secondary-btn-hover-color: rgb(77,55,33);
    --secondary-btn-color: rgb(77,55,33);
}






body, body.tienda{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.btnBuy{
    box-shadow: 0px 0px 20px var(--primary-btn-color);
    transform:translateY(-20px);
    height: 75px;
    width: 140px;
    font-size: 20px;
    font-weight: bolder;
}

.btnBuy:hover{
    box-shadow: 0px 0px 20px var(--primary-btn-hover-color);
}

footer {
    margin-top: auto;
}

.bg-body-tertiary{
    background-color: rgba(7, 104, 196, 0.288) !important;
    color: aliceblue;
}


.btn-primary{
    background-color: var(--primary-btn-color);
    border-width:0px;
}

.btn-primary:hover{
    background-color: var(--primary-btn-hover-color);


}

.btn-secondary{
    background-color: var(--secondary-btn-color);
}

.btn-outline-secondary{
    border-color: var(--secondary-btn-color);
}

div.col{
    margin-top: 40px;
}
footer.container{
    margin-top: 20px;
}

.imagen{
    transition: 500ms;
    width: 100%;
    height: auto;
}


.navbarNoProblem::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background: linear-gradient( rgba(7, 104, 196, 0.288), #feb47b00); /* Gradient colors */
    z-index: -1; /* Ensure it is behind the navbar content */
    transform: translateY(148px);
}

.text-hidden {
    opacity: 0;
    transform: translateY(20px); /* Adjust the value as needed */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    visibility: hidden; /* Prevents interaction when hidden */
}

.text-show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    visibility: visible; /* Ensures the text is interactive */
}

.texto {
  pointer-events: none; 
}

.product .col{
    transition: 500ms;
}

.img-product{
    transform: translate(0px, -175px);
    transition: transform 0.3s ease;
}

.img-product-text-shown{
    transform: translate(0px, 0px);
    transition: transform 0.3s ease;
}

/* Mobile breakpoint - adjust for phones */
@media (max-width: 767px) {
    .img-product {
        transform: translate(0px, -100px);
    }
}

.brandImg{
    transform: translateY(-3px);
    filter: brightness(10);
    transition: 200ms;
}

.brandImg:hover{
    transform: translateY(-3px);
    filter: brightness(1);

}

div.container img.map{
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    align-items: end;
}


